version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: stock_app
    volumes:
      - ./storage:/var/www/storage
      - .:/var/www
    networks:
      - stock-network

  nginx:
    image: nginx:alpine
    container_name: stock_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - stock-network

  mysql:
    image: mysql:8.0
    container_name: stock_mysql
    restart: always
    environment:
      MYSQL_DATABASE: stock_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: stock_user
      MYSQL_PASSWORD: stock_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - stock-network

  redis:
    image: redis:alpine
    container_name: stock_redis
    ports:
      - "6379:6379"
    networks:
      - stock-network

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: stock_queue
    command: php /var/www/artisan queue:work --tries=3 --timeout=600
    volumes:
      - .:/var/www
    depends_on:
      - app
      - redis
    networks:
      - stock-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: stock_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - stock-network

networks:
  stock-network:

volumes:
  mysql-data:
